:root{
     --primario: #dfd111;
     --secundario: #201772;
     --oscuro: #212121;
     --gris: #757575;

     --anchoPantalla: 1200px;
}


/* apply a natural box layout model to all elements, but allowing components to change  Snippet, cuando agregemos padding no tenga un mal comportamiento*/
html {
  box-sizing: border-box;
  min-height: 100%; /* Para que no se vea extraño el gradiente y tome todo el ancho de la pantalla*/
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
     font-family: 'Krub', sans-serif;
     background-image: linear-gradient(-225deg, #D4FFEC 0%, #57F2CC 48%, #4596FB 100%);
     min-height: 100%; /* Para que no se vea extraño el gradiente*/
     font-size: 1.6rem; /*Se convina con el 62.5% en el html arriba par usar el tamaño en pantallas de retina*/
}

h1,h2,h3 {
     margin: 0;
}
h2,h3{
     text-align: center;
}
h3{
     color: var(--secundario);
     font-weight: 400;
     font-size: 2.2rem;
}

p{
     font-size: 1.8rem;
     line-height: 2rem;
}

.site-header{
     background: white;
}

.site-header nav{ /* Nav vendria siendo el contenedor padre o el flex-container*/
     max-width: var(--anchoPantalla); /*1200px;*/
     margin: 0 auto;
     padding: 1rem 0;

     display: flex;
     flex-direction: column;
     align-items: center;
     
}

@media (min-width:768px){
     .site-header nav{
          flex-direction: row;
          justify-content: space-between;
     }
}

.site-header nav a{
     color: var(--oscuro);
     font-size: 2.2rem;
     text-decoration: none;
     margin-bottom: 2rem;
}

.site-header nav a:las-of-type{
     margin-bottom: 0;
}

@media (min-width:768px){
     .site-header nav a{
          margin-bottom: 0;
     }
}

.hero{
     height: 45rem;
     background-image: url(../img/hero.jpg);
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
}

.hero::after{
     content: '';
     background-color: rgba(0, 0, 0, .7);
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
}

.contenedor-hero{
     color: white;
     position: relative;
     z-index: 1;
     text-align: center;
}

.contenedor-hero i {
     font-size: 5rem;
     color: var(--primario);
}

.boton{
     background-color: rgba(58, 177, 175, 2);
     padding: 1rem 5rem;
     display: inline-block;
     margin-top: 1rem;
     color: white;
     text-decoration: none;
     text-transform: uppercase;
     font-weight: 700;
     font-size: 2.2rem;
     border-radius: .5rem;
     border: none;
     
} 

.boton:hover{
     cursor: pointer;
}

.contenedor{
     max-width: var(--anchoPantalla);
     margin: 3rem auto; /*Arriba abajo 3rem derecha izq auto*/
     background-color: white;
     padding: 3rem;
     border-radius: 1rem;
     
     
     /*Sombra*/
     -webkit-box-shadow: 0px 10px 21px -9px rgba(0,0,0,0.99);
     -moz-box-shadow: 0px 10px 21px -9px rgba(0,0,0,0.99);
     box-shadow: 0px 10px 21px -9px rgba(0,0,0,0.99);
}



.contenedor-servicios{
     margin-top: 3rem;
}

@media(min-width:768px){
     .contenedor-servicios{
          display: flex;
          justify-content:space-between;
     }
     .servicio{
          flex: 0 0 calc( 33.3% - 1rem );
     }
}

.servicio{ /*Centra los iconos*/
     display: flex;
     flex-direction: column;
     align-items: center;
}

.iconos{
     width: 100px;
     height: 100px;
     border-radius: 50%;
     background-color: var(--primario);
     display: flex;
     justify-content:space-evenly;
     align-items: center;
     margin-top: 3rem;
}

.iconos{
     
     font-size: 3rem;
      
}


form{
     background-color: var(--gris);
     padding: 2rem;
     border-radius: 1rem;
     margin-top: 3rem;
}

form legend{
     text-align: center;
     font-size: 2rem;
     color: var(--primario);
     margin: 3rem auto;
}

@media (min-width:768px){
     form{
          max-width: 800px;
          margin: 3rem auto;
     }

     .contenedor-campos{
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap; /*Para que al llegar al final de la derecha los siguientes los ponga abajo*/
     }
     .campo{
          flex: 0 0 calc( 50% - 1rem);      
     }
}

.campo{
     display: flex;
     margin-bottom: 2rem;
}
.campo label{
     flex: 0 0 90px;
     padding-top: .5rem;
     color: white;
}

.campo input{
     flex: 1;
     height: 4rem;
}
.campo textarea{
     height: 6rem;
     flex: 1;
}

.w-100{
     flex: 0 0 100%;
}

.enviar{
     display: flex;
     justify-content:flex-end;
}